.header{
    transition: transform .2s linear;
    background-color: var(--colorBlack900);
    display: flex;
    justify-content: center;
    
}
.container{
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 24px; 
    
}
.container:before{
    content: "";
    position: absolute;
    height: 1px;
    background-color: var(--colorBlack800);
    bottom: 0;
    left: 16px;
    right: 16px;
}
.logo:before{
    content: "";
    position: absolute;
    height: 1px;
    background-color: var(--colorBlack800);
    bottom: 0;
    left: 16px;
    right: 16px;
}
.logo{
    display: flex;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 72px;
}
.navigation1{
    align-items: center;
    display: flex;
    position: relative;
    height: 100%;
    gap:24px;
}
.products{
    border: none;
    background: 0 0;
    cursor: pointer;
    height: 100%;
}
.navigation2_item{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--colorBlack400);
    font-size: 14px;
    line-height: 16px;
    padding: 0 16px;
}
.navigation1_item{
    all: unset;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--colorBlack500);
    font-size: 14px;
    line-height: 20px;
    font-family: var(--fontMain);
    cursor: pointer;
    padding: 0;

}
.navigation2_1{
    height: 100%;
    display: flex;
    position: relative;
}
.navigation2_2{
    margin-left: 3px;
    grid-gap: 24px;
    gap: 20px;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.navigation2{
    height: 100%;
    display: flex;
    position: relative;
    gap:24px;
}
.navigation2_2countries{
    display: block;
    width: 20px;
    height: 20px;
    background: url("../../public/header/countries.svg") no-repeat 0 0/auto 100%;
    border-radius: 50%;
}
.navigation2_2avatar{
    border: none;
    width: 100%;
    width: 40px !important;
    height: 40px !important;
    background-color: var(--colorBlack800);
    color: var(--colorBlack400);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 8px !important;
}
.navigation2_1button{
    font-family:"Montserrat",sans-serif;
    cursor: pointer;
    gap: 8px;
    position: relative;
    height: 99%;
    display: flex;
    align-items: center;
    color: var(--colorBlack400);
    font-size: 14px;
    line-height: 16px;
    padding: 0 16px;
    background-color: #181c1f;
    border: none;
}
.navigation2_1button:before, .navigation2_item:before{
    position: absolute;
    content: "";
    right: 0;
    height: 24px;
    width: 1px;
    background-color: var(--colorBlack800);
}
.navigation1_item_active{
    all: unset;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--colorBlack50);
    font-size: 14px;
    line-height: 20px;
    font-family: var(--fontMain);
    cursor: pointer;
    padding: 0;

}
.navigation1_item_active:before{
    height: 2px;
    position: absolute;
    content: "";
    bottom: 0;
    right: 0px;
    left: 0;
    background-color: var(--colorVipGreen1000);
    transition: .1s ease-in;
}

.swipemenu{
    display: flex;
    height: 100%;
    background-color: var(--colorBlack900) !important;
}
.table_item{
    background-color: var(--colorBlack900);
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px 16px 24px;
    font-size: 14px;
    color: #fff;
    border: none;
    text-decoration: none;
    border-bottom: 1px solid var(--colorBlack700);
}
.ClearIcon{
    color: #fff;
    border: none;
    background: 0 0;
    cursor: pointer;
    padding: 0;
}
.icons_item{
    border-bottom: 1px solid var(--colorBlack700);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background-color: var(--colorBlack900) ;
}
@media (max-width: 770px) { 
    .logosvg{
        width: 97px !important;
        height: 24px !important;
        min-width: auto !important;
        max-width: none !important;
        min-height: auto !important;
        max-height: none !important;
        margin: auto 0 !important;
    }
    .header{
        justify-content: space-between;
        padding:0 24px ;
        background-color: var(--colorBlack900);
    }
}
.avatarmenu{
    padding: 6px;
    margin-right: 8px;
    width: 24px;
    height: 24px;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--colorBlack700);
    color: var(--colorBlack400);
    font-size: 11px;
    line-height: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.table_item:before{
    box-sizing: inherit;
  
}
.pay{
    margin-top: 14px;
    display: flex;
}
.getapp{
    color: var(--colorBlack600);
    width: 100%;
    min-height: 60px;
    align-items: center;
    padding: 16px 16px 16px 24px;
    font-size: 14px;
    background-color:var(--colorBlack900) ;
    border: none;
    text-decoration: none;
}
.logorasmer{
    width: 97px !important;
    height:24px !important;
}
.burger{
    display: flex;
}
@media (max-width: 640px) {
    .logosvg{
        max-width: 100% !important;
    }   
}
.navigation1_item:hover , .navigation2_1button:hover, .navigation2_item:hover {
    color: #fff; 
}
.menuitem:hover , .menutxt_mobile:hover{
    color: #fff;
}
.SideBarcontainer_mobile{
    display: flex;
    background-color: var(--colorBlack900);
    margin: 0;
    padding-bottom: 2px;
    width: 100%;
    max-width: none;
    max-width: 100%;
    height: auto;
    bottom: auto;
    top: 0;
    position: fixed;
    transition: top .1s linear;
    z-index: 1;
    position: relative;
    justify-content: flex-start;
    margin: 0 0 -1px;
    height: 48px;
    padding: 0 16px;
}
.menutxt_mobile{
    all: unset;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--colorBlack500);
    font-size: 14px;
    line-height: 20px;
    font-family: var(--fontMain);
    cursor: pointer;
    padding: 0 12px;
}
.menutxt_mobile_active{
    color: #fff;
}
.menutxt_mobile_active:before{
    position: absolute;
    content: "";
    bottom: 0;
    height: 0;
    background-color: var(--colorVipGreen1000);
    transition: .1s ease-in;
    right: 10px;
    left: 0px;
    height: 2px;
}
.maincontainer{
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
}
.menutxt_mobile:first-child{
    padding: 0;
    padding-right: 12px;
}
.Personal{
    display: flex;
    gap: 24px;
    margin-left: 17px;
    height: 100%;

}