.SideBarcontainer{
    display: flex;
    flex-direction: column-reverse;
}
.SideBar{
    position: sticky;
    bottom: 32px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 215px;
    margin: 74px 0 35px;
}
.menuitem{
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    padding: 9px 0;
    color: var(--colorBlack500);
    transition: color .2s ease,font-weight .2s ease;
    display: block;
    text-decoration: none;
}
.scrol{
    display: flex;
    flex-wrap: wrap;
    width: 177px;
}
.scroltop{
    width:200px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 24px;
    transition: opacity .2s ease;
}
.ocenka{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 24px;
    transition: opacity .2s ease;
    font-size: 16px;
    line-height: 24px;
    color: var(--colorBlack400);
    margin-bottom: 5px;
}
.SideBarmenu{
    list-style: none;
    padding: 0;
}
.ocenkaitem{
    color: var(--colorBlack600);
    background: linear-gradient(
90deg
,#c8ff48,#59ffd6 49%,currentColor 50%,currentColor);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 12px;
    line-height: 16px;
    -webkit-transition: background-position .2s ease;
    transition: background-position .2s;
    background-size: 200% 1px;
    background-position: 100% 100%;
}
.buttontop{
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 0;
    margin-right: 8px;
    transition: background-color .2s ease;
    background: var(--colorBlack800);
    color: #fff;
    border: none;
    border-radius: 5%;
    align-items: center;
}
.topimg{
    margin-top: 8% !important;
}
.menuitemmain{
    font-weight: 700;
    cursor: pointer;
    position: relative;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    padding: 9px 0;
    transition: color .2s ease,font-weight .2s ease;
    display: block;
    text-decoration: none;
}
.menuitemmain:before{
    content: "";
    position: absolute;
    height: 1px;
    top: calc(50% - 1px);
    background: #fff;
    left: -250%;
    right: calc(100% + 15px);
    transition: right .5s ease-in-out;
}
.menuitem:hover , .menutxt_mobile:hover{
    color: #fff;
}
.SideBarcontainer_mobile{
    display: flex;
    background-color: var(--colorBlack900);
    margin: 0;
    padding-bottom: 2px;
    max-width: none;
    max-width: 100%;
    height: auto;
    bottom: auto;
    top: 0;
    position: fixed;
    transition: top .1s linear;
    z-index: 1;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    justify-content: flex-start;
    margin: 0 0 -1px;
    height: 48px;
    padding: 0 16px;
}
.menutxt_mobile{
    all: unset;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--colorBlack500);
    font-size: 14px;
    line-height: 20px;
    font-family: var(--fontMain);
    cursor: pointer;
    padding: 0 12px;
}
.menutxt_mobile_active{
    color: #fff;
}
.menutxt_mobile_active:before{
    position: absolute;
    content: "";
    bottom: 0;
    height: 0;
    background-color: var(--colorVipGreen1000);
    transition: .1s ease-in;
    right: 10px;
    left: 10px;
    height: 2px;
}

.scroltop:hover .ocenkaitem {
            background-position: 0 100%;
}
.buttontop:hover{
    background: none;
} 